
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} // haiku</title>
</head>

<body data-layout="default">
  {{>shared/header}}

  {{{ layout-content }}}

  {{>shared/footer}}
</body>
</html>
