---
title: This is the homepage
---

<div id="home">
  <h1>{{ title }}</h1>
  
  <h2>Blog Posts</h2>

  <ul class="posts">
    {{#site}}
      {{#posts}}
        {{>post}}
      {{/posts}}
    {{/site}}
  </ul>
</div>
