---
title: This is the homepage
---

<div id="home">
  <h1>{{ title }} Blog Posts</h1>

  <ul class="posts">
    {{#site}}
      <li>SITE</li>
      {{#posts}}
        <p>POST</p>
        {{>post}}
      {{/posts}}
    {{/site}}
  </ul>
</div>
