---
title: Mustache without the Markdown
---

<div>
  <p>This will get run through Mustache but not markdown, also it is assumed this will become html since there is explicit sub extension</p>
</div>
