---
title: I should get parsed by Mustache
---

# {{ title }}

This file is explicitly stating it wants the mustache parser run on it by using the `.mustache` extension in it's filename. It is also declaring it wants to be run through markdown.
